<!DOCTYPE html><html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{title}} | Melomaniac</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <!-- Header -->
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 px-5">
            <a class="navbar-brand" href="/">Melomaniac</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('event.create')}}">Create event</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center me-2" href="#" id="navCartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-shopping-cart me-2"></i>
                            <div class="cart-count">
                                <span class="badge bg-danger">{{session['cart']|length}}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navCartDropdown">
                            <li>
                                <form method="post" action="{{ url_for('api.clear_cart') }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="dropdown-item">Clear Cart</button>
                                </form>
                            </li>
                            <li><a class="dropdown-item" href="{{url_for('checkout.index')}}">Go to Checkout</a></li>
                        </ul>
                    </li>
                    
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-2"></i>
                            {% from 'bootstrap5/form.html' import render_form %}
                            
                            {{current_user.name}}
                        </a>
                        <!---->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('bookings.index') }}">My bookings</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('event.my_events') }}">My created events</a></li>
                            <li><a class="dropdown-item" type="button" href="{{ url_for('auth.logout')}}">Logout</a></li>
                            {% else %}
                            <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
                            <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                         {% endif %}
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>

        <!-- flashes any messages to the user -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %} <!-- check if there are any messages -->
        <div class="container-fluid">
            <div class="row mt-3 mb-3">
                <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
        {% endwith %}

        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="bg-primary text-light p-4 mt-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h4>Follow Us</h4>
                    <a href="#" class="text-light mx-2"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-fw fa-instagram"></i></a>
                    <a href="#" class="text-light mx-2"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
                <div class="col-md-6 mb-3">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">About Us</a></li>
                        <li><a href="#" class="text-light">Contact</a></li>
                        <li><a href="#" class="text-light">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-4">
                    <p>&copy; 2023 Melomaniac. All rights reserved.</p>
                  </div>
            </div>
        </div>
    </footer>

    <!-- scripts must be placed here so that they load after bootstrap js loads -->
    {% block scripts %}
    {% endblock %}
</body>

</html>