{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block header %}
<div class="page-header mb-5 mt-2 container text-center">
    <h1>{{heading}}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ render_form(form) }}
            {% if heading|lower == 'login' %}
            <div class="text-center mt-3">
                <p>New here? <a href="{{ url_for('auth.register') }}">Join us today!</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}